<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:targetApi="31">
        <!-- Активити для песочных часов -->
        <activity
            android:name=".presentationlayer.activities.HourglassActivity"
            android:exported="true"
            android:label="@string/title_activity_hourglass"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!-- Активити реализующее настройку броска кубиков -->
        <activity
            android:name=".presentationlayer.activities.DiceSettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_dice_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!-- Активити реализующее результат броска кубиков -->
        <activity
            android:name=".presentationlayer.activities.DiceResultActivity"
            android:exported="false"
            android:label="@string/title_activity_dice_result"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!-- Главный экран -->
        <activity
            android:name=".presentationlayer.activities.GameSelectionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".presentationlayer.activities.ChooseMaterialActivity"
               >
        </activity>
        <activity
            android:name=".presentationlayer.activities.NoteActivity"
            >
        </activity>
        <activity
            android:name=".presentationlayer.activities.GamePreviewActivity"
            >
        </activity>
        <activity
            android:name=".presentationlayer.activities.InstallMaterialActivity"
            >
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            tools:node="remove"
            tools:replace="android:authorities" />

        <activity android:name=".presentationlayer.activities.GameEditPropertiesActivity" />
        <activity android:name=".presentationlayer.activities.GameEditActivity" />
    </application>

</manifest>